<!-- //* html 4 doctype -->

<html lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-16' />
    <meta
      http-equiv='X-UA-Compatible'
      content='IE=edge'
      16
      <meta
      name='viewport'
      content='width=device-width, initial-scale=1'
    />

    <title>Confirm email address</title>
  </head>

  <body
    style='
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      font-size: 18px;
      line-height: 24px;
    '
  >
    <center class='wrapper' style='width: 100%; table-layout: fixed;'>
      <div class='webkit' style='max-width: 600px; background-color: #ffffff;'>
        <!-- main content -->

        <!-- heading section -->
        <table
          class='content'
          align='center'
          style='
            border-spacing: 0;
            margin: 0 auto;
            width: 100%;
            border-spacing: 0;
            color: #3c3c3b;
          '
        >
          <tr>
            <td style='padding: 0;'>
              <table
                class='content'
                align='center'
                style='
                  color: #3c3c3b;
                  border-spacing: 0;
                  width: 100%;
                  border-spacing: 0;
                  margin: 0 auto;
                  padding-left: 32px;
                  padding-right: 32px;
                '
              >
                <!-- empty spacing, br -->
                <tr>
                  <td height='28px' class='spacing' style='padding: 0;'></td>
                </tr>

                <!-- heading -->
                <tr>
                  <td
                    style='
                      color: #3c3c3b;
                      font-size: 28px;
                      text-align: left;
                      font-weight: bold;
                      padding: 0;
                      padding-top: 6px;
                      padding-bottom: 6px;
                    '
                  >
                    Confirm your email address to get started on our grocery
                    tracker
                  </td>
                </tr>

                <!-- empty spacing, br -->
                <tr>
                  <td height='14px' class='spacing' style='padding: 0;'></td>
                </tr>

                <!-- heading content -->
                <tr>
                  <td
                    style='
                      color: #3c3c3b;
                      font-size: 16px;
                      text-align: left;
                      font-weight: 400;
                      padding: 0;
                      padding-top: 6px;
                      padding-bottom: 6px;
                    '
                  >
                    Please confirm your email address
                    <a href='mailto:{{email}}' target='_blank'>{{email}}</a>
                    to verify your account.
                  </td>
                </tr>

                <!-- empty spacing, br -->
                <tr>
                  <td height='26px' class='spacing' style='padding: 0;'></td>
                </tr>

                <!-- action button -->
                <tr>
                  <td height='35px' align='left' style='padding: 0;'>
                    <a
                      href='{{url}}'
                      target='_blank'
                      style='
                        text-decoration: none;
                        height: auto;
                        background-color: #2ea664;
                        border: 1px solid #2ea664;
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0px;
                        border-radius: 4px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 24px;
                        padding-right: 24px;
                      '
                    >
                      Confirm Email Address
                    </a>
                  </td>
                </tr>

                <!-- empty spacing, br -->
                <tr>
                  <td height='26px' class='spacing' style='padding: 0;'></td>
                </tr>

                <!-- content, token expiry -->
                <tr>
                  <td
                    style='
                      color: #3c3c3b;
                      font-size: 14px;
                      text-align: left;
                      font-weight: 400;
                      padding: 0;
                      padding-top: 6px;
                      padding-bottom: 6px;
                    '
                  >
                    Please verify your account through this email within 24 hours. Otherwise, you may require a new email verification again. Thank you.
                  </td>
                </tr>

                <!-- content, ignore this email -->
                <tr>
                  <td
                    style='
                      color: #3c3c3b;
                      font-size: 16px;
                      text-align: left;
                      font-weight: 400;
                      padding: 0;
                      padding-top: 6px;
                      padding-bottom: 6px;
                    '
                  >
                    If you didn't request this email, there's nothing to worry
                    about — you can safely ignore it.
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- divider section-->
          <tr>
            <td style='padding: 0;'>
              <table
                class='content'
                align='center'
                style='
                  border-spacing: 0;
                  margin: 0 auto;
                  width: 100%;
                  border-spacing: 0;
                  color: #3c3c3b;
                '
              >
                <!-- empty spacing, br -->
                <tr>
                  <td height='28px' class='spacing' style='padding: 0;'></td>
                </tr>

                <!-- divider -->
                <tr>
                  <td
                    height='1px'
                    width='100%'
                    class='spacing'
                    style='
                      border-bottom: 1px solid #ebebed;
                      width: 100%;
                      padding: 0;
                    '
                  ></td>
                </tr>

                <!-- empty spacing, br -->
                <tr>
                  <td height='28px' class='spacing' style='padding: 0;'></td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- footer section-->
          <tr>
            <td style='padding: 0;'>
              <table
                class='content'
                align='center'
                style='
                  color: #3c3c3b;
                  border-spacing: 0;
                  width: 100%;
                  border-spacing: 0;
                  margin: 0 auto;
                  padding-left: 48px;
                  padding-right: 48px;
                  text-align: center;
                '
              >
                <tr>
                  <td
                    style='
                      color: #3c3c3b;
                      font-size: 14px;
                      text-align: center;
                      padding: 0;
                      padding-top: 6px;
                      padding-bottom: 6px;
                    '
                  >
                    Grocery Tracker
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>